adminPanel/__pycache__/__init__.cpython-311.pyc
adminPanel/__pycache__/admin.cpython-311.pyc
adminPanel/__pycache__/apps.cpython-311.pyc
adminPanel/__pycache__/models.cpython-311.pyc
adminPanel/__pycache__/views.cpython-311.pyc
adminPanel/migrations/__pycache__/__init__.cpython-311.pyc
adminPanel/migrations/__pycache__/0001_initial.cpython-311.pyc
adminPanel/migrations/__pycache__/0002_alter_usuario_imagen.cpython-311.pyc
homePage/__pycache__/__init__.cpython-311.pyc
homePage/__pycache__/admin.cpython-311.pyc
homePage/__pycache__/apps.cpython-311.pyc
homePage/__pycache__/models.cpython-311.pyc
homePage/__pycache__/urls.cpython-311.pyc
homePage/__pycache__/views.cpython-311.pyc
homePage/migrations/__pycache__/__init__.cpython-311.pyc
webDuocPasteleria/__pycache__/__init__.cpython-311.pyc
webDuocPasteleria/__pycache__/settings.cpython-311.pyc
webDuocPasteleria/__pycache__/urls.cpython-311.pyc
webDuocPasteleria/__pycache__/wsgi.cpython-311.pyc
