{% extends 'homePage/index.html' %}
{% block contenido %}
{% load static %}

 <section class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/alfajores-de-chocolate-1.jpg' %}" class="card-img-top" alt="Producto 1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Alfajores de Chocolate Argentinos</h5>
            <p>La receta no puede ser más fácil, solo necesitas dos ingredientes, por supuesto Chocolate en formato polvo, cacao en polvo y Chocolate para derretir, en grageas y por supuesto mis favoritos, siempre Callebaut.
            Si tienes poco tiempo haz los Alfajores de Chocolate, porque te hará destacar, porque si ya estaba rica los Alfajores anteriores clásicos…esta con chocolate es un top añadido.</p>
            <h6>
              Herramientas que he usado para hacer los alfajores de chocolate
              Bol de preparación, mis adorados boles de Iblaursen no me pueden faltar!
            </h6>
            
            <ul>
              <li>
                Espátula de silicona
              </li>
              <li>
                Rodillo con guías de acero inoxidable
              </li>
              <li>
                Cortante redondo de 5-6 cm, yo usé este
              </li>
              <li>
                Plancha de horneado perfecto, la mía es la de Silikomart pero la de Lékué me encanta y te la recomiendo
              </li>
              <li>
                En caso que no tengas puedes usar Papel Teflón, o bien papel de horno de toda la vida (mi preferencia en este orden)
              </li>
              <li>
                Bandeja de horno de Nordic Ware, adoro esta bandeja
              </li>
              <li>
                Rejilla enfriadora de 3 alturas, la mejor de las rejillas porque tienes tanto espacio que puedes hacer decenas de galletas a la vez y enfriarlas todas.
              </li>
              <li>
                Manga pastelera desechable, yo la uso para rellenos y decoraciones las de 40 cm mínimo para usarlas de una vez!
              </li>
              <li>
                Espolvoreador super fino para espolvorear mis alfajores argentinos como Dios manda!
              </li>
            </ul>
            <h6>Ingredientes</h6>
            <ul>
              <li>
                250 g de harina de trigo todo uso
              </li>
              <li>
                200 g de mantequilla sin sal blandita
              </li>
              <li>
                80 g de azúcar glas
              </li>
              <li>
                1 cdita de pasta de vainilla
              </li>
              <li>
                1 cda de cacao en polvo
              </li>
            </ul>             
        </div>
      </div>  
    </div>
  </section>

{% endblock %}