{% extends 'homePage/index.html' %}
{% block contenido %}
{% load static %}

  <section class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/galleta-principe-estrella-6.jpg' %}" class="card-img-top" alt="Producto 1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Galletas principe</h5>
            <p>Y es que tenía que hacer esta versión de galletas comerciales pero saludables, porque estas Galletas Principe estrella son las favoritas de mi niño y como no, por el cualquier cosita. !Son tremendamente fáciles de hacer y además quedan de muerte!. La base de la masa de la galleta es una galleta rica rica, hecha con ingredientes muy saludables, para nada con harinas refinadas, todo integral, pero su sabor es fino, delicado y doradas y crujientes son de locura.</p>
            <h6>Herramientas que he usado</h6>          
            <ul>
              <li>
                Bol de preparación
              </li>
              <li>
                Amasadora Kitchen Aid o bien batidora doble varilla
              </li>
              <li>
                Espátulas o lenguas
              </li>
              <li>
                Rodillo para estirar
              </li>
              <li>
                Cortante redondo de Flor pack 3 de Wilton he usado el del medio
              </li>
              <li>
                Un cortante redondo un poco más grande de diámetro que la flor, yo en mi caso he usado uno de 5 cm de diámetro
              </li>
              <li>
                Una brocha o pincel de pastelería
              </li>
              <li>
                Rejilla enfriadora
              </li>
              <li>
                Plancha de horneado perfecto
              </li>
            </ul>
            <h6>Ingredientes</h6>
            <ul>
              <li>
                200 g de harina de trigo integral (yo usé de espelta, pero si queréis opción sin gluten usar harina de trigo sarraceno)
              </li>
              <li>
                40 a 50 gr de eritritol + 1/2 cdita de sucralosa
              </li>
              <li>
                30 gr de harina de Almendra
              </li>
              <li>
                100 gr de mantequilla a temperatura ambiente
              </li>
              <li>
                1 huevo
              </li>
              <li>
                1 cdita de  pasta de vainilla
              </li>
            </ul>             
        </div>
      </div>  
    </div>
  </section>

{% endblock %}