{% extends 'homePage/index.html' %}
{% block contenido %}
{% load static %}

  <section class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/galletas-milano-3.jpg' %}" class="card-img-top" alt="Producto 1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Galletas milano</h5>
            <p>Me encanta las recetas así como estas Galletas Milano, que te permiten tomarte un buen café a media tarde sin rellenarte demasiado y sin dejar de tomar una pizca de dulce, y es que estas galletas me traen recuerdos increíbles. Recuerdo que las probé por primera vez en un viaje a un curso que tenía que impartir en Coruña, y no es que estas galletas sean tipicas de allí ni nada, solo que me las ofreció una chica que venía al curso y desde entonces estaba deseando hacer la versión casera de estas clásicas Galletas Milano, conocidas en toda Europa, menos aquí, jejejee, pero están de muerte! amos ! eso te lo digo yo!</p>
            <h6>
              Herramientas que utilizaras en las Galletas Milano
            </h6>          
            <ul>
              <li>
                Un Bol de preparación grandote, tipo los de IbLaursen.
              </li>
              <li>
                Una batidora de doble varilla, la mía es la de Kitchen Aid, pero te vale una. básica
              </li>
              <li>
                Una espátula o lengua de silicona.
              </li>
              <li>
                Una manga desechable.
              </li>
              <li>
                Una plancha de silicona de horneado perfecta.
                Si no tienes plancha puedes usar un papel de horno.
              </li>
              <li>
                Una bandeja de horno, te enlazo la mía de Nordic Ware, mi última adquisición.
              </li>
              <li>
                Una rejilla enfriadora, me fascina esta de tres alturas.
              </li>
            </ul>
            <h6>Ingredientes</h6>
            <ul>
              <li>
                115 g de mantequilla con sal (si la usas sin sal, añadele una pizca de sal a la preparación)
              </li>
              <li>
                100 g de azúcar blanquilla o bien puedes usar mi combo edulcorante ( 65 g de eritritol + 1/2 cdita de sucralosa moreno)
              </li>
              <li>
                1 cdita generosa de pasta de vainilla
              </li>
              <li>
                1 huevo L
              </li>
              <li>
                35 ml de leche o bebida vegetal
              </li>
              <li>
                150 g de harina de trigo todo uso 
              </li>
              <li>
                100 g de chocolate negro del 54%
              </li>
              <li>
                70 ml de leche
              </li>
              <li>
                En este caso puedes usar otro chocolate, si usas chocolate más puro del 70-80% añade 15 ml más de leche
              </li>
              <li>
                Si usas chocolate con leche, pon 50 ml de leche
              </li>
              <li>
                Si usas chocolate blanco: 35 ml de leche
              </li>
            </ul>             
        </div>
      </div>  
    </div>
  </section>

{% endblock %}